.list-vehicle-wrapper {
  width: calc(100% - 300px - 30px);
  height: auto;

  .title {
    height: 40px;
    font-size: 21px;
    font-weight: 700;

  }
  .nav-link-filter {
    display: flex;
    height: 50px;
    border: 1px solid #D3D5D7;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 10px;
    .nav-item {
      cursor: pointer;
      min-width: 135px;
      border-right: 1px solid #D3D5D7;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(4), &:nth-child(5){
        min-width: 183px;
      }
      &:last-child {
        border-right:  unset !important;
      }
      &:hover {
        color: #0088FF;
        font-weight: 600;
      }
    }
  }

  .list-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .vehicle-item {
      width: calc(100% / 3 - 12px);
      margin: 0 6px;
      border: 1px solid #D3D5D8;
      box-sizing: border-box;
      border-radius: 6px 6px 0 0;
      margin-bottom: 24px;
      cursor: pointer;
      .image {
        width: 100%;
        height: 230px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px 6px 0 0;
          filter: brightness(50%);
        }
        .location {
          position: absolute;
          bottom: 12px;
          left: 12px;
          // color: #FFFFFF;
          color: orangered;
          font-weight: 700;
          font-size: 12px;
          .icon {
            margin-right: 8px;
          }
        }
       
      }
      .rate {
        display: flex;
        margin: 8px 12px;
        
        i {
          font-size: 12px;
          color: #b0d12b;
        }
      }
      .point-rate {
        margin: 0 12px 8px 12px;
        font-size: 13px;
        height: 22px;
        .point {
          background: #007bff;
          color: #FFFFFF;
          font-weight: 500;
          padding: 1px 10px;
          border-radius: 10px;
          margin-right: 8px;
        }
        .view {
          padding-top: 1px;
          margin-left: 8px;
        }
      }
      .price {
        margin: 0 12px 12px 12px;
        font-weight: 400;
      }
    }
  }
}