.filter-location-wrapper {
  border: 1px solid #D3D5D7;
  border-radius: 4px;
  padding: 24px 16px;
  height: max-content; 
  margin-bottom: 24px;
  .title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 24px;
    text-align: center;
  }
  .input-field {
    margin-bottom: 24px;
    width: 100%;
    >div {
      width: 100%;

    }
  }
  button {
    height: 54px;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
  }
}